/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #111111;
  --secondary: #252525;
  --green: #9abb53;
  --red: #bc3326;
  --blue: #0070d8;
  --orange: #ef882e;
}

html {
  margin: 0;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  background: #1a1a1a;
  font-family: Montserrat;
  overflow-y: hidden;
  overflow-x: hidden;
}
